@page "{id:int?}"
@model WebApp.BookEditModel
@{
    ViewData["Title"] = "BookEdit";
    var CreateEdit = Model.Book.Id > 0 ? "Edit" : "Create";
    var bookPhoto = "~/images/bookImages/" + (Model.Book.BookPhoto ?? "nobook.png");
}

<h2>@CreateEdit Book</h2>

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Book.Id" />
    <input type="hidden" asp-for="Book.BookPhoto" />

    <div class="form-group">
        <label asp-for="Book.Title"></label>
        <input class="form-control" asp-for="Book.Title" />
        <span asp-validation-for="Book.Title" class="text-danger"></span>
    </div>

    @*<div class="form-group">
            <label asp-for="Book.AuthorId"></label>
            <select class="form-control" asp-for="Book.AuthorId" asp-items="@Model.SelectAuthor">
                <option value="">
                    Select Author
                </option>
            </select>
        </div>*@
    <div class="row">
        <div class="form-group author1 col-sm-9">
            <label asp-for="TitleAuthor1.AuthorId"></label>
            <select class="form-control" id="select" asp-for="TitleAuthor1.AuthorId" asp-items="@Model.SelectAuthor">
                <option value="">Select Author</option>
            </select>
        </div>
        <div class="form-check col-sm-2 mt-3 pt-4">
            <label>Multiple Authors ?</label>
        </div>
        <div class="col-sm-1 mt-3 pt-4" >
            <input type="checkbox" id="check" onclick="showHide()" asp-for="@Model.MultipleSelection" />
        </div>

        <div class="form-group col-sm-9" id="author1">
            <select class="form-control" asp-for="TitleAuthor2.AuthorId" asp-items="@Model.SelectAuthor">
                <option value="">Select Author</option>
            </select>
        </div>
        <div class="form-group col-sm-9" id="author2">
            <select class="form-control" asp-for="TitleAuthor3.AuthorId" asp-items="@Model.SelectAuthor">
                <option value="">Select Author</option>
            </select>
        </div>
    </div>
 
    <div class="form-group">
        <label asp-for="Book.BookDescription"></label>
        <textarea class="form-control" rows="5" asp-for="Book.BookDescription"></textarea>
        <span asp-validation-for="Book.BookDescription" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Book.PublisherId"></label>
        <select class="form-control" asp-for="Book.PublisherId" asp-items="@Model.SelectPublisher">
            <option value="">
                Select Publisher
            </option>
        </select>
    </div>

    <div class="form-group">
        <label>Year of Issue</label>
        <input class="form-control" asp-for="Book.YearOfIssue" />
    </div>

    <div class="form-group">
        <label>Number of Pages</label>
        <input class="form-control" asp-for="Book.NumberOfPages" />
    </div>

    <div class="form-group">
        <label asp-for="Photo"></label>
        <div class="custom-file">
            <input asp-for="Photo" class="custom-file-input form-control" />
            <label class="custom-file-label">Choose a Photo</label>
        </div>
    </div>

    <img src="@bookPhoto" alt="" class="myImage mb-2" asp-append-version="true" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-primary" asp-page="./BookList">Back</a>
    </div>

    @section Scripts {
        @*<script>
                $('#check').click(function () {
                    $('.multipleAuthor')[!this.checked ? "hide" : "show"]();
                });
            </script>*@
        <script>
            let checkbox = document.getElementById("check"),
                author1 = document.getElementById("author1"),
                author2 = document.getElementById("author2");

            author1.style.display = 'none';
            author2.style.display = 'none';

            function showHide() {

                if (checkbox.checked == true) {
                    author1.style.display = 'block';
                    author2.style.display = 'block';
                } else {
                    author1.style.display = 'none';
                    author2.style.display = 'none';
                }
            }

        </script>

        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>

    }

</form>

