@page 
@model WebApp.BookCopiesListModel
@{
    ViewData["Title"] = "BookCopiesList";
}

<h2>Book Copies List</h2>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-primary">
        @Model.Message
    </div>
}

<table class="table">

    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Number Of Copies
            </th>
            <th>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.BookCopies)
    {
        <tr>
            <td>
                @item.Book.Title
            </td>
            <td>
                @item.NumberOfCopies
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-page="./BookCopyEdit" asp-route-id="@item.Id">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-outline-danger" asp-page="./BookCopyDelete" asp-route-id="@item.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    }
    <tfoot style="visibility:@(!Model.BookCopies.Any() ? "visible" : "hidden")">
        <tr>
            <td colspan="3">
                Nothing to display.
            </td>
        </tr>
    </tfoot>


</table>

