@page
@model WebApp.LibraryDetailsModel
@{
    ViewData["Title"] = "LibraryDetails";
}

<h2>Available books in Library @Model.Library.Name</h2>


<a class="btn btn-primary mb-2" asp-page="AddBook" asp-route-id="@Model.Library.Id">Add Book</a>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger">
        @Model.Message
    </div>
}

<table class="table">

    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Copies in Library
            </th>
            <th>

            </th>
        </tr>
    </thead>
    @foreach(var item in Model.Library.BookCopies.Where(bc => bc.LibraryId == Model.Library.Id))
    {
        <tr>
            <td>
                @item.Book.Title
            </td>
            <td>
                @item.NumberOfCopies
            </td>
            <td>
                <a class="btn btn-primary" asp-page="/BookCopies/BookCopyEdit" asp-route-bookId="@item.BookId" asp-route-libraryId="@item.LibraryId">Edit</a>
                <form asp-page-handler="Delete" asp-route-bookId="@item.BookId" asp-route-libraryId="@item.LibraryId" method="post" class="d-inline">
                    <button type="submit" onclick="return confirm('DO you really want to Remove copy from Library ? ');" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
            
        </tr>
    }


</table>